server {
    listen  80;

    root {{ dirs.docroot }};
    index index.html app.php;

    server_name {{ webserver_name }} www.{{ webserver_name }};

    location / {
        try_files $uri $uri/ /app.php?$args;
    }

    error_page 404 /error_404.html;
    error_page 500 502 503 504 /error_50x.html;

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_index app.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
