web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/config/parameters.yml
app/phpunit.xml

vendor/
tmp/*

.DS_Store
*.tmproj
.idea
.rsync_cache


# Prod
build/config/production.yml
build/packages
build/staging-dir
