{% extends 'FTCWebBundle::layout.html.twig' %}

{% block content %}

<div class="row">
	<div class="span12">

		<form class="form-horizontal" action="/login_check" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
	        <div class="form-actions">
	            <button type="submit" class="btn btn-primary">Save changes</button>
	            <button type="reset" class="btn">Cancel</button>
	        </div>
		</form>

	</div>	
</div>

{% endblock %}

