{% extends 'FTCWebBundle::layout.html.twig' %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        
        <h1 id="about_fix_that_code">About "Fix that code"</h1>
        
        <p>
            I'm <a href="http://www.twitter.com/rdohms">Rafael Dohms</a> and back in 2011 while working in the SWAT Team with 
            <a href="http://www.twitter.com/guilhermeblanco">Guilherme Blanco</a> and <a href="http://www.twitter.com/otaviofff">Otavio Ferreira</a>, 
            we implemented Object Calisthenics (<a href="http://www.slideshare.net/rdohms/bettercode-phpbenelux212alternate">see my slides</a>) in our new project. This made us really look
            differently at our code and pretty soon we had understood the real need to code that way and it had become part of
            the way we coded, basically we started looking at other's people code differently. Everything started looking like
            bloated, complex and less then ideal code, so we started fixing somethings and spreading this concept.
        </p>
        <p>
            Every so often I was approached by friends to help them improve some piece of code, and this generally ended up involving
            pastebins, copy here, edit there, send code back, and I thought: "Why not have a place where I can edit this code incrementally
            with a nice online editor and keep that history of how the code was improved and let other people learn from it?"
        </p>
        <p>
            That's when Fix that code came along, I wanted to make this collaborative code refactoring concept available to other
            people and help myself along the way. I love "Coding WTF" sites, but I hate it that they only show the problem, but never
            how to fix it, I hope this site can offer that. More features will be along to help this along, so please do suggest them 
            if you feel they are missing.
        </p>
    </div>
</div>

{% endblock %}

