.page {
    padding-top: 60px;
}

.editor, .editor-placeholder {
    position: relative;
    height: 300px;
    margin-left: 0;
}

.editor.span9{
    width: 70%;
}

.row-fluid .editor{
    margin-left: 0;
}

.editor-placeholder{
    width: 0;
    margin-bottom: 20px;
}

.editor-filename {
    margin-bottom: 0;
    padding: 5px;
}

.form-actions{
    background-color: white;
    border-top: 0px;
}

.form-horizontal .form-actions-nomargin{
    margin-left: 0px;
    padding-left: 0px;
}

.form-nolabels .controls{
    margin-left: 0px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

h1 strong{
    color: #416e96
}

h1.entry-title{ margin-bottom: 18px; }

.sidebar h3 { border-bottom: 1px solid #ccc; margin-bottom: 5px; margin-top: 10px; }

.right { text-align: right; }

.profile h3{ margin-top: 0px; }

footer { margin-top: 35px; }

.footer-nav { }
.footer-nav ul {
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
}
.footer-nav ul li { float: right; padding: 0 15px; }

.stats {}
.stats dt, .stats dd {line-height: 30px; float: left;}
.stats dt { font-size: 200%; clear: left; }
.stats dd { }

.code-comment-form { background-color: #E8E8E8; margin-bottom: 18px; padding-top: 15px;}
.code-comment-form .form-actions { background-color: #E8E8E8; margin: 0; padding: 10px 5px;}
.code-comment-form form { margin-bottom: 0; }
.code-comment-form-row {margin-top: -20px; }

.comment-comment { margin-bottom: 10px;}

.comment-snippet-controls { margin-bottom: -10px }
.comment-snippet-diff .syntaxhighlighter{ padding: 8px 0; }
.comment-snippet-code { display:none }
.comment-snippet-code .syntaxhighlighter{ padding: 8px 0; }

.category-header { font-size: 140% }
.category-entry-list { margin-top: 8px; margin-bottom: 30px  }

.category-improvecode { background-color: #F89406; }
.category-betterperformance { background-color: #416e96; }
.category-codinghorror { background-color: #B94A48; }
.category-feedback { }
.category-challenge { }
