{% extends 'FTCWebBundle::layout.html.twig' %}

{% block content %}
<div class="row">
	<div class="span4">
		<h2>Editing your Entry</h2>
		<p>Got something wrong? Go ahead and fix it, here you can edit all the details and even change your code o a different category</p>
		<p>If you need to alter something in the actual code, just submit a code change and it will help keep history.</p>
	</div>
	<div class="span8">

		<form class="form-horizontal" action="{{ path('entry_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
	        <div class="form-actions">
	            <button type="submit" class="btn btn-primary">Update the details</button>
	            <button type="reset" class="btn">Cancel</button>
	        </div>
		</form>

	</div>
</div>
{% endblock %}

