{% extends 'FTCWebBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span9">
        <span class="label label-info">{{ entry.getTargetUserTypeText() }}</span>
        <h1>
            {{ entry.title }} 
            <!-- TODO: only if owner -->
            <a href="{{ path('entry_edit', { 'id': entry.id }) }}" class="btn btn-mini"><i class="icon-pencil"></i></a>
        </h1>

        

        <ul class="record_actions">
            <li>
                
            </li>
        </ul>

    </div>
    <div class="span3">
        <p>sidebar</p>
    </div>
</div>
{% endblock %}
